<div class="about-item clearfix">
    <a href="{$url}">
        <div class="about-item-image">
            <img src="{$icon}" />
        </div>
    </a>
    <div>
        <h3 class="about-item-title">{$user-title}</h3>
        <h4 class="about-item-project-name">{$project-title}</h4>
        <div class="about-item-text">
            {$text}
        </div>
    </div>
    <div class="clear"></div>
    <div class="about-item-button">
        <a href="{$url}">{$button-label}</a>
    </div>
</div>


<!--content-->
<div class="content">
    <!--about-->
    <div class="content-block">
        <h3 class="content-block-title">Клиенты о нас</h3>
        <div class="about-item clearfix">
            <a href="index.htm">
                <div class="about-item-image">
                    <img src="images/about-user-icon_0.jpg" />
                </div>
            </a>
            <div>
                <h3 class="about-item-title">Коротаева Лисёнка-Колбасёнка Елена</h3>
                <h4 class="about-item-project-name">Персональный сайт Елены Коротаевой</h4>
                <div class="about-item-text">
                    <p>Оргомное спасибо ребятам!</p>
                    <p>Сделали всё бвстро и качественно, постоянно что-то доделывают и обновляют. Регулярно добавляя всякие удобные фишки.</p>
                    <p>Так же очень довольна мобильным клиентом! Действительно очень помогает в работе!</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="about-item-button">
                <a href="index.htm">Читать далее</a>
            </div>
        </div>

        <div class="about-item clearfix">
            <a href="index.htm">
                <div class="about-item-image">
                    <img src="images/about-user-icon_0.jpg" />
                </div>
            </a>
            <div>
                <h3 class="about-item-title">Коротаева Лисёнка-Колбасёнка Елена</h3>
                <h4 class="about-item-project-name">Персональный сайт Елены Коротаевой</h4>
                <div class="about-item-text">
                    <p>Оргомное спасибо ребятам!</p>
                    <p>Сделали всё бвстро и качественно, постоянно что-то доделывают и обновляют. Регулярно добавляя всякие удобные фишки.</p>
                    <p>Так же очень довольна мобильным клиентом! Действительно очень помогает в работе!</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="about-item-button">
                <a href="index.htm">Читать далее</a>
            </div>
        </div>

        <div class="content-block-button">
            <a href="index.htm">Ещё отзывы</a>
        </div>
    </div>

</div>

<!--footer-->
<div class="down-fotter">
    <!--fast menu-->
    <div class="down-fotter-menu">
        <ul>
            <li><a href="index.htm">Главная</a></li>
            <li><a href="index.htm">Web-M Arm</a></li>
            <li><a href="index.htm">Услуги</a></li>
            <li><a href="index.htm">Новости</a></li>
            <li><a href="index.htm">Проекты</a></li>
            <li><a href="index.htm">О нас</a></li>
            <li><a href="index.htm">Контакты</a></li>
        </ul>
    </div>
    <!--about-->
    <div class="down-fotter-about">
        <span class="down-fotter-about-center">ЗапСибВеб Софт 2016</span>
        <span class="down-fotter-about-right">feamorx86@yandex.ru</span>
    </div>
    <div class="down-fotter-about">
        <span class="down-fotter-about-right">+7-913-217-36-39</span>
    </div>
</div>
</body>
</html>
<!--#>Root-->